*.suo
web_id.config
skins/default/skin.xsl
skins/default/trackingPoints.xsl
_ReSharper.*
*.resharper.user
*.ReSharper.user
*.csproj.user
TestResults/
Chrome.net.vsmdi
/.DS_Store
*/NHProf/log.txt
Chrome.net.4.5.resharper
*.DS_Store

.sass-cache/
bin/
Bin/
obj/
/Projects/**/*.csproj.user
/Projects/**/*.DS_Store
ClientBin/
SLBin/

/Build/Execute-UnitTests.Results.xml
*.dbmdl
*.dbproj.schemaview
*.dbproj.user

*.fbl7
*.junit

*.cache

/Build/JUnit/*
*.fb7lck
*.fbpInf

BuildVersion.txt
deployment_packages/*

*.webtestresult
*.vsp
*.psess
